In [2]:
fd = open("Records.txt","r")
txt = fd.read()
fd.close()

In [3]:
products = txt.split("\n")

ui_prod  = str(input("Enter the product_Id: "))
ui_quant = input("Enter the quantity: ")

for product in products:
    prod = product.split(",")
    
    
    if(prod[0] == ui_prod):
        print("***********************")
        print("Product ID: ", prod[0])
        print("Name: ", prod[1])
        print("Price: ",prod[2])
        print("Quant: ",ui_quant)
        print("------------------------")
        print("Billing Amout: ", ui_quant * int(prod[2]))
        print("***********************")

Enter the product_Id: 1001
Enter the quantity: 5
***********************
Product ID:  1001
Name:  Drink
Price:  45
Quant:  5
------------------------
Billing Amout:  555555555555555555555555555555555555555555555
***********************

In [8]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [9]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [10]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [11]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1010
Enter name:mouse
Enter price:150
Enter quantity:5

In [12]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'mouse', 'pr': 150, 'qn': 5}}